In [48]:
import pandas as pd

data = pd.read_csv(f"../data/label_1/filled_data/test.csv")

data_np = data.to_numpy()

data

         stay_id   sbp    dbp   map   time  label
0     30613295.0   0.0   96.8  50.8   68.2    0.0
1     30613295.0   1.0  111.0  57.0   77.0    0.0
2     30613295.0   2.0  115.0  60.0   81.0    0.0
3     30613295.0   3.0  109.0  54.0   76.0    0.0
4     30613295.0   4.0  100.0  52.0   71.0    0.0
...          ...   ...    ...   ...    ...    ...
3332  39987914.0  54.0  132.0  79.0   93.0    0.0
3333  39987914.0  55.0    0.0   0.0    0.0    0.0
3334  39987914.0  56.0    0.0   0.0    0.0    0.0
3335  39987914.0  57.0    0.0   0.0    0.0    0.0
3336  39987914.0  58.0  138.0  92.0  107.0    0.0

[3337 rows x 6 columns]